<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.habitserver</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{HOME_DIR}}/.habitarmour/.venv/bin/uvicorn</string>
        <string>app.main:app</string>
        <string>--host</string>
        <string>{{HOST}}</string>
        <string>--port</string>
        <string>{{PORT}}</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{HOME_DIR}}/.habitarmour</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PORT</key>
        <string>{{PORT}}</string>
        <key>PYTHONPATH</key>
        <string>{{HOME_DIR}}/.habitarmour</string>
        <key>PATH</key>
        <string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/homebrew/bin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>{{HOME_DIR}}/.habitarmour/habitserver.log</string>
    <key>StandardErrorPath</key>
    <string>{{HOME_DIR}}/.habitarmour/habitserver.err</string>
</dict>
</plist>
